<div class="half">
    <div id="contentLeft" class="fromLeft">
        <a class="logo" href="index.php">&nbsp;</a>
        <div class="imgHolder bgred"><img src="images/bgred.png"/></div>
        <div class="entry">
            
        </div><!-- end #entry -->
    </div><!-- end #contentLeft -->
</div><!-- end .half -->
<div class="half last">
    <div id="contentRight" class="fromRight delay">
        <div class="imgHolder bgblue"><img src="images/bgblue.png" /></div>
     	{include file="closeup/menu.html"}
        <div class="entry">
            
        </div><!-- end #entry -->
    </div><!-- end #contentRight -->
</div><!-- end .half -->

<div id="popupTwitfeel" class="popupContainer">
	<div id="popupContent">
		<a class="closePopup" href="#">&nbsp;</a>
		<div class="poupContent">
		  <iframe id="twitFeelFrame" src="http://www.tweetfeel.com/toothpaste#toothpaste"></iframe> 
		</div><!-- end .poupContent -->
	</div><!-- end #poupContent -->
</div><!-- end .popupContainer -->

<script>
{literal}
	$(document).ready(function(){
			$("#popupTwitfeel").fadeIn();
			$("#bgPopup").fadeIn();
	});
{/literal}
</script>