<p><strong>EDIT PAGE</strong></p>
<p>
	<a href="?s=pages">Back</a>
</p>
{if $err}
<p>
	Error Edit Page
	<ul>
	{section name=i loop=$err}
		<li>{$err[i]}</li>
	{/section}
	</ul>
</p>
{/if}
<form method="POST" action="?s=pages&act=edit&id={$id}">
<table class="list" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>Name</td><td><input type="text" name="name" value="{$data.page_name}" /></td>
	</tr>
	<tr>
		<td>Request</td><td><input type="text" name="request" value="{$data.page_request}" /></td>
	</tr>
	<tr>
		<td>Template</td><td><input type="text" name="template" value="{$data.page_template}" />&nbsp;.HTML</td>
	</tr>
	<tr>
		<td>Content</td>
		<td>
			<select name="content">
				<option value="no" {if $data.page_content eq 'no'}selected="selected"{/if}>No</option>
				<option value="yes" {if $data.page_content eq 'yes'}selected="selected"{/if}>Yes</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>Content Title</td><td><input type="text" name="content_title" value="{$data.content_title}" /></td>
	</tr>
	<tr>
		<td>Content Text</td><td><textarea name="content_text" cols="70" rows="15">{$data.content_text}</textarea></td>
	</tr>
	<tr>
		<td>Status</td>
		<td>
			<select name="status">
				<option value="deactive" {if $data.page_status eq 'deactive'}selected="selected"{/if}>Deactive</option>
				<option value="active" {if $data.page_status eq 'active'}selected="selected"{/if}>Active</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>Login</td>
		<td>
			<select name="login">
				<option value="yes" {if $data.page_login eq 'yes'}selected="selected"{/if}>Yes</option>
				<option value="no" {if $data.page_login eq 'no'}selected="selected"{/if}>No</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>Widgets</td>
		<td>
			{section name=i loop=$widgets}
			<span>
				<input type="checkbox" name="widgets[]" value="{$widgets[i].name}" {if $widgets[i].active eq 1}checked="checked"{/if} />&nbsp;{$widgets[i].name}
			</span>
			&nbsp;
			{/section}
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="hidden" value="1" name="edit" />
			<input type="submit" value=" Save " />
		</td>
	</tr>
</table>
</form>